ADMIN_INITIAL_PASSWORD=
APPLE_CLIENT_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_TEAM_ID=
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_SECRET_ACCESS_KEY=
DATABASE_URL=
DIRECT_URL=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
HOST=
JWT_SECRET=
SESSION_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SUPABASE_DATABASE_URL=
VITE_API_BASE_URL=