modules = ["web", "swift-5.8", "nodejs-22", "python-base-3.13", "postgresql-16"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 9229
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 9230
externalPort = 3000
exposeLocalhost = true

[userenv]

[userenv.development]
VITE_MASTERY_FRONTEND_ENABLED = "true"
VITE_SPACED_RECALL_FRONTEND_ENABLED = "true"
VITE_STUDY_ANALYZER_FRONTEND_ENABLED = "true"
VITE_STUDY_INSIGHTS_FRONTEND_ENABLED = "true"
VITE_OWNER_ANALYTICS_FRONTEND_ENABLED = "true"
STUDY_ANALYZER_ENABLED = "true"
AI_STUDY_INSIGHTS_ENABLED = "true"
ASK_MY_STUDY_DATA_ENABLED = "true"
SPACED_RECALL_ENABLED = "true"
